@import 'reset';
@import 'fonts';
@import 'variables';

// ===============================ALL==============================================
body,
html {
  scroll-behavior: smooth;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: normal;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.hrading {
  color: #FFF;
  font-family: Forum;
  font-size: 80px;
  font-weight: 400;
  line-height: 89px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.heading--gold {
  color: #9D8665;
}

.heading-line {
  display: block;
  width: 100%;
  height: 0;
  border: 1px solid #710707;
  margin: 25px 0 75px 0
}

// ===============================HEADER==============================================
.header {
  @include bg-dark;

  &__inner {
    display: flex;
    justify-content: space-between;
    height: 150px;
  }

  &__logo {
    margin: auto 0;
    display: flex;
    align-items: end;


    & h1 {
      color: #FFF;
      font-family: Forum;
      font-size: 28px;
      font-weight: 400;
      letter-spacing: 5px;
      text-transform: uppercase;
      margin-right: 30px;
    }

    & svg {
      margin-right: 25px;
    }
  }

  &__nav {
    margin: auto 0;

    &-list {
      display: flex;

    }

    &-item {
      color: #FFF;
      font-size: 22px;
      font-weight: 200;
      letter-spacing: 2px;
      margin-right: 55px;

      &:last-child {
        margin-right: 0;
      }
    }

    &-link {
      @include trn;

      &:hover {
        @include font-gold;
      }

      &--active {
        @include active-gold;
      }
    }
  }
}

// ===============================WELCOME==============================================
.welcome {
  @include bg-dark;
  padding: 0 0 60px 0;

  &__inner {
    position: relative;
  }

  &__box {
    position: absolute;
    top: 150px;
    left: 0;
    color: #FFF;
    max-width: 600px;
    z-index: 3;


    &-heading {
      font-family: Forum;
      font-size: 80px;
      font-weight: 400;
      line-height: 90px;
      letter-spacing: 5px;
      text-transform: uppercase;
      margin-bottom: 25px;
    }

    &-text {
      font-family: Roboto;
      font-size: 28px;
      font-weight: 300;
      letter-spacing: 2px;
      margin-bottom: 75px;
    }

    &-btn {
      color: #FFF;
      display: inline-block;
      font-family: Roboto;
      font-size: 22px;
      font-weight: 300;
      letter-spacing: 2px;
      padding: 23px 66px;
      @include dark-red;
      border-radius: 10px;
      @include trn;

      &:hover {
        @include bg-gold;
      }
    }
  }

  &__slider {
    display: flex;
    justify-content: end;

    &-item {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.50) 16.19%, rgba(0, 0, 0, 0.00) 30.73%);
      }

      &--none {
        display: none;
      }
    }

    &-info {
      display: flex;
      align-items: center;
      position: absolute;
      right: 0;
      bottom: -60px;
      width: 600px;
      height: 120px;
      @include bg-dark;
    }

    &-dots {
      height: 100%;
      display: flex;
      align-items: center;
    }

    &-dot {
      display: inline-block;
      height: 16px;
      width: 16px;
      background-color: #FFF;
      margin-right: 25px;
      align-items: center;
      @include trn;

      & button {
        @include trn;
      }

      :hover {
        @include bg-gold;
      }

      &--active {
        @include bg-active-gold
      }

      & button {
        display: block;
        width: 100%;
        height: 100%;
        background-color: transparent;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    &-num {
      display: flex;
      color: #FFF;
      font-family: Roboto;
      font-size: 22px;
      font-weight: 400;
      line-height: 40px;
      text-transform: uppercase;
      margin: 0 55px 0 75px;
      align-items: center;

      & span {
        display: inline-block;
        height: 20px;
        width: 0;
        border: 1px solid #fff;
        margin: 0 12px;
      }
    }

    &-arrow--prev {
      display: flex;
      height: 100%;
      align-items: center;
      margin-left: 60px;
      background-color: transparent;

    }

    &-arrow--next {
      display: flex;
      height: 100%;
      align-items: center;
      margin-left: 20px;
      background-color: transparent;

      & svg {
        transform: rotate(180deg);
      }
    }

    &-arrow--prev svg path,
    &-arrow--next svg path {
      @include trn;
    }

    &-arrow--prev:hover svg path,
    &-arrow--next:hover svg path {
      fill: #9D8665;
    }
  }
}

// ===============================VISITING==============================================
.visiting {
  padding: 75px 0;

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 440px);
    grid-template-rows: 2;
    justify-content: space-between;
    row-gap: 75px;
  }

  &__img-box {
    margin-bottom: 25px;
  }

  &__card {
    &-content {
      display: flex;
      flex-direction: column;
    }

    &-heading {
      font-family: Forum;
      font-size: 32px;
      font-weight: 400;
      letter-spacing: 5px;
      text-transform: uppercase;

      &-line {
        display: block;
        width: 300px;
        border: 1px solid #710707;
        margin: 10px 0;
        @include trn;
      }
    }

    &-info {
      font-family: Roboto;
      font-size: 22px;
      font-weight: 200;
      margin-bottom: 10px;

      &:last-of-type {
        margin: 0;
        font-size: 18px;
      }
    }

    &-link {
      display: block;
      height: 100%;
      width: 100%;

      &:hover .visiting__card-heading-line {
        width: 100%;
      }
    }
  }
}

// ===============================EXPLORE==============================================
.explore {
  @include bg-dark;
  padding: 75px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    width: 660px;
  }

  &__text {
    color: #FFF;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 300;
    line-height: 38.5px;
    margin-bottom: 25px;

    &:last-of-type {
      margin-bottom: 0;
    }

    & span {
      color: #CAAA7D;
    }
  }

  &__img-box {
    margin-top: 15px;
  }
}

// ===============================VIDEO==============================================
.video {
  padding: 75px 0 63px;

  &__heading {
    &-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 75px;
    }

    &-text {
      width: 720px;
      font-size: 22px;
      font-weight: 300;
      line-height: 38.5px;
    }
  }

  &__slider {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 452px);
    grid-template-rows: 2;
    row-gap: 35px;

    &-item {
      &--none {
        display: none;
      }

      &:first-child {
        grid-column: span 3;
      }
    }

    &-nav {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 27px;
    }

    &-arrow--prev {
      height: 32px;
      width: 32px;
      background-color: transparent;

      &:hover svg path {
        fill: #710707;
      }

      & svg {
        transform: rotate(180deg);

        & path {
          @include trn;
        }
      }
    }

    &-arrow--next {
      height: 32px;
      width: 32px;
      background-color: transparent;

      &:hover svg path {
        fill: #710707;
      }

      & svg path {
        @include trn;
      }
    }

    &-dots {
      display: inline-flex;
      // margin: 0 10px;
    }
  }

  &__dot {
    display: block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #999999;
    margin: 10px;
    @include trn;

    &:hover {
      @include dark-red;
    }

    &--active {
      background-color: #333333;
    }

    &-btn {
      display: block;
      height: 32px;
      width: 32px;
      background-color: transparent;
    }
  }
}

// ===============================GALLERY==============================================
.gallery {
  @include bg-dark;

  &__inner {
    padding-top: 77px;
    height: 2200px;
    overflow: hidden;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      width: 100%;
      height: 360px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__colum-one {
    margin-top: 125px;
    width: 456px;

    & li img {
      width: 100%;
    }
  }

  &__immage {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__colum-two {
    margin-top: 75px;
    width: 456px;

    & li img {
      width: 100%;
    }
  }

  &__colum-three {
    margin-top: 125px;
    width: 456px;

    & li img {
      width: 100%;
    }
  }
}

// ===============================TICKETS==============================================
.tickets {

  &__inner {
    padding: 77px 0;
  }

  &__content {
    display: flex;
  }

  &__img-box {
    margin-right: 62px;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    width: 100%;


    &-type {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 50px;
    }

    &-amount {
      margin-bottom: 25px;
      font-size: 28px;
      font-weight: 700;
      text-align: right;

    }

    &-total {
      font-size: 28px;
      font-weight: 700;
      letter-spacing: 1.65px;
      text-align: right;
      margin-top: 40px;
    }

  }

  &__type {
    display: flex;
    flex-direction: column;

    &-cont {
      font-size: 22px;
      font-weight: 300;
      margin-bottom: 24px;

      & input {
        transform: scale(1.3);
        accent-color: #000;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-checkmark {
      margin-right: 20px;
    }
  }

  &__amount {
    display: flex;
    flex-direction: column;
  }

  &__count-box {
    display: flex;
    justify-content: space-between;
    border: 3px solid #000;
    width: 150px;
    height: 50px;
    margin-bottom: 9px;
    align-self: flex-end;
  }

  &__count-label {
    margin-bottom: 15px;
    margin-left: 25px;
    font-size: 22px;
    font-weight: 300;
  }

  &__number {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    padding: 0;
    width: 50px;
    -moz-appearance: textfield;
  }

  &__btn-minus {
    background-color: transparent;
    position: relative;
    display: block;
    width: 50px;
    @include trn;

    &:hover {
      @include bg-gold;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      border: 1px solid #000;
      width: 16px;
      height: 0;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
    }
  }

  &__btn-plus {
    background-color: transparent;
    position: relative;
    display: block;
    width: 50px;
    @include trn;

    &:hover {
      @include bg-gold;
    }

    &::after {
      content: "";
      position: absolute;
      display: block;
      border: 1px solid #000;
      width: 16px;
      height: 0;
      top: 50%;
      right: 13px;
      transform: translateY(-50%);
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      border: 1px solid #000;
      width: 0;
      height: 16px;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }
  }

  &__button {
    margin-top: 60px;
    width: 175px;
    height: 50px;
    background-color: #000;
    color: #FFF;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 0 38px;
    text-wrap: nowrap;
    border-radius: 2px;
    @include trn;

    &:hover {
      @include bg-gold;
      color: #000;
    }
  }
}

.tickets__number::-webkit-inner-spin-button,
.tickets__number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// ===============================TICKETS==============================================
.parallax {
  position: relative;
  height: 400px;
  width: 100%;
  overflow: hidden;

  &::before {
    content: "";
    background: url("../../src/images/parallax/parallax.jpg") 50% 50% / cover no-repeat fixed;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

// ===============================CONTACTS==============================================
.contacts {
  padding: 75px 0;

  &__content {
    display: flex;
    justify-content: space-between;

    &-heading {
      font-size: 28px;
      font-weight: 500;
      margin-bottom: 50px;
      width: 225px;
    }
  }

  &__list {
    font-size: 22px;
    font-weight: 300;

    &-item {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-link {
      @include trn;

      &:hover {
        @include font-gold;
      }
    }
  }
}

// ===============================FOOTER==============================================
.footer {
  &__top {
    @include bg-dark;

    &-inner {
      display: flex;
      justify-content: space-between;
      padding: 85px 0 50px;
    }
  }

  &__logo-link {
    color: #FFF;
    font-family: Forum;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    & svg {
      margin-right: 25px;
    }
  }

  &__nav {
    margin: 0 auto 0 142px;

    &-list {
      display: grid;
      grid-template-columns: repeat(2, auto);
      column-gap: 169px;
      row-gap: 25px;
    }

    &-item {
      color: #FFF;
      font-size: 22px;
      font-weight: 200;
      letter-spacing: 2px;
      @include trn;

      &:hover {
        @include font-gold;
      }
    }
  }

  &__social-list {
    display: flex;
    align-items: flex-end;
    margin-bottom: 7px;

  }

  &__social-item {
    margin-right: 28px;
    width: 45px;
    height: 45px;
    border: 1px solid #666666;
    border-radius: 50%;
    @include trn;

    &:hover, svg path {
    border: 2px solid #9D8665;
    }
    &:hover a svg path {
      fill: #9D8665;
    }


    &:last-child {
      margin-right: 0;
    }
  }

  &__social-link {
    width: 100%;
    height: 100%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    

    & svg path {
      @include trn;
    }


  }

  &__bottom {
    @include bg-dark;

    &-inner {
      color: #FFF;
      font-size: 22px;
      font-weight: 200;
      line-height: 22px;
      letter-spacing: 2px;
      display: flex;
      justify-content: space-between;
      padding: 50px 0;
    }
  }

  &__line {
    display: block;
    width: 100%;
    height: 0;
    border: 1px solid #666;
  }
}