* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

@font-face {
  font-family: "Roboto";
  font-weight: 200;
  font-style: normal;
  src: local("Roboto"), url("../../src/fonts/Roboto-ExtraLight.woff2") format("woff2"), url("../../src/fonts/Roboto-ExtraLight.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: local("Roboto"), url("../../src/fonts/Roboto-Light.woff2") format("woff2"), url("../../src/fonts/Roboto-Light.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"), url("../../src/fonts/Roboto-Regular.woff2") format("woff2"), url("../../src/fonts/Roboto-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto"), url("../../src/fonts/Roboto-Medium.woff2") format("woff2"), url("../../src/fonts/Roboto-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto"), url("../../src/fonts/Roboto-Bold.woff2") format("woff2"), url("../../src/fonts/Roboto-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Forum";
  font-weight: 400;
  font-style: normal;
  src: local("Forum"), url("../../src/fonts/Forum-Regular.woff2") format("woff2"), url("../../src/fonts/Forum-Regular.woff") format("woff");
  font-display: swap;
}
body,
html {
  scroll-behavior: smooth;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: normal;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.header {
  background-color: #030303;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  height: 150px;
}
.header__logo {
  color: #FFF;
  font-family: Forum;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
  display: flex;
  margin: auto 0;
}
.header__logo svg {
  margin-right: 25px;
}
.header__nav {
  margin: auto 0;
}
.header__nav-list {
  display: flex;
}
.header__nav-item {
  color: #FFF;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 2px;
  margin-right: 55px;
}
.header__nav-item:last-child {
  margin-right: 0;
}
.welcome {
  background-color: #030303;
  padding: 0 0 60px 0;
}
.welcome__inner {
  position: relative;
}
.welcome__box {
  position: absolute;
  top: 150px;
  left: 0;
  color: #FFF;
  max-width: 600px;
  z-index: 3;
}
.welcome__box-heading {
  font-family: Forum;
  font-size: 80px;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.welcome__box-text {
  font-family: Roboto;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: 2px;
  margin-bottom: 75px;
}
.welcome__box-btn {
  display: inline-block;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 24.17px 64px;
  background-color: #710707;
  border-radius: 10px;
}
.welcome__slider {
  display: flex;
  justify-content: end;
}
.welcome__slider-item {
  position: relative;
}
.welcome__slider-item::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%);
}
.welcome__slider-item--none {
  display: none;
}
.welcome__slider-info {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 700px;
  height: 120px;
  background-color: #030303;
  padding: 0 75px;
}
.welcome__slider-dot {
  display: inline-block;
  height: 12px;
  width: 12px;
  background-color: #FFF;
  margin-right: 25px;
}
.welcome__slider-dot a {
  display: block;
  width: 100%;
  height: 100%;
}
.welcome__slider-dot:last-child {
  margin-right: 0;
}
.welcome__slider-num {
  display: flex;
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  margin-right: 45px;
  align-items: center;
}
.welcome__slider-num span {
  display: inline-block;
  height: 15px;
  width: 0;
  border: 1px solid #fff;
  margin: 0 10px;
}
.welcome__slider-arrow--prev svg {
  margin-left: 60px;
}
.welcome__slider-arrow--next svg {
  transform: rotate(180deg);
  margin-left: 20px;
}

/*# sourceMappingURL=main.css.map */
