@import 'reset';
@import 'fonts';
@import 'variables';

// ===============================ALL==============================================
body,
html {
  scroll-behavior: smooth;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: normal;
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

// ===============================HEADER==============================================
.header {
  @include bg-dark;

  &__inner {
    display: flex;
    justify-content: space-between;
    height: 150px;
  }

  &__logo {
    color: #FFF;
    font-family: Forum;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
    display: flex;
    margin: auto 0;

    & svg {
      margin-right: 25px;
    }
  }

  &__nav {
    margin: auto 0;

    &-list {
      display: flex;

    }

    &-item {
      color: #FFF;
      font-size: 22px;
      font-weight: 200;
      letter-spacing: 2px;
      margin-right: 55px;

      &:last-child {
        margin-right: 0;
      }
    }

    &-link {}
  }
}